@use '../styles/theme' as *;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  background: #f0f2f5;
  padding-top: 84px; // Header height offset

  @media (max-width: $breakpoint-tablet) {
    padding-top: 74px; // Mobile header height offset
  }
}
